
.prod-lists {
    display: flex;
    flex-wrap: wrap;
    
}
.img-prod {
    width: 200px;
    
}
img {
    padding: 20px 15px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/