body {
    margin: 0;
}
.header {
    background-color: black;
    color: gray;
    padding: 1px;
}

#header-title {
    margin-left: 10%;
    font-size: 20px;
}
.todo-contents {
    display: flex;
    flex-direction: column;

}
#todo-header {
    font-size: 25px;
    margin-left: 10%;
}
.input-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#input-task {
    margin-top: 1px;
    width: 40%;
    height: 27px;
    border-radius: 10px;
    border-style: solid;
}
.add-task {
    height: 35px;
    width: 50px;
    border-radius: 10px;
    border-style: solid;
    margin-left: 10px;
    background-color: #1877F2;
    color: white;
    border-color:#1877F2;
}
ul {
    width: 500px;
    padding: 0px;
}


.listTodo {

    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.listTodo li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
}
.listTodo li input {
    height: 16px;
    width: 16px;
}
li.checked{
    text-decoration: line-through;
}
.delete{
    text-decoration: none;
    width: 20px;
    border-color: transparent;
    background-color: transparent;
}

#trash-icon{
    pointer-events: none;
}

