<h1>Companies</h1>

<fieldset>
  <label>Company name: </label>
  <input type="text" [(ngModel)]="newName">
  <label>Company description: </label>
  <input type="text" [(ngModel)]="newDescr">
  <label>Company city: </label>
  <input type="text" [(ngModel)]="newCity">
  <label>Company address: </label>
  <input type="text" [(ngModel)]="newAddress">
  <button (click)="addCompany()">Add company</button>
</fieldset>

<ul>
  <li *ngFor="let company of companies">
    {{company.id}} - {{company.name}} <button (click)="deleteCompany(company.id)">X</button>
  </li>
</ul>
